.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

input {
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  width: 90%;
  max-width: 200px;
  margin: 5px;
}

.block {
  display: flex;
  margin: 10px;
  width: fit-content;
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
}

.flex__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 10px 0;
  background-color: blueviolet;
  color: antiquewhite;
  border-radius: 15px;
  font-size: 15px;
  padding: 10px;
  transition: all 0.2s;
  align-self: flex-end;
}

.button:hover {
  background-color: rgb(181, 109, 248);
}

.invisible {
  display: none;
}

.list__item {
  list-style: decimal;
}

#btn__computeInterest {
  align-self: center;
}

.column__container {
  display: flex;
  flex-direction: column;

  padding-right: 20px;
}

.slide__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 150px;
  max-width: 125px;
  width: 35%;
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  width: 300px;
  height: 10px;
  background-image: linear-gradient(to left, #3f5efb, #fc466b);
  outline: none;
  -webkit-transform: rotate(270deg);
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border: none;
  padding: 0;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #000;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #000;
  cursor: pointer;
  border-radius: 50%;
}

.slider__label {
  padding: 15px;
  margin-bottom: 90px;
}

.slider__select {
  height: 20px;
}
